In [1]:
from trueskill import Rating, quality_1vs1, rate_1vs1
alice, bob = Rating(25), Rating(30)  # assign Alice and Bob's ratings
if quality_1vs1(alice, bob) < 0.50:
    print('This match seems to be not so fair')
alice, bob = rate_1vs1(alice, bob)  # update the ratings after the match

This match seems to be not so fair

In [2]:
import trueskill
from trueskill import Rating
Rating()  # use the default mu and sigma
trueskill.Rating(mu=25.000, sigma=8.333)

trueskill.Rating(mu=25.000, sigma=8.333)

In [3]:
r1 = Rating()
r2 = Rating()

print('{:.1%} chance to draw'.format(quality_1vs1(r1, r2)))

44.7% chance to draw

##b1 beat b2

In [4]:
new_r1, new_r2 = rate_1vs1(r1, r2)
print(new_r1)
trueskill.Rating(mu=29.396, sigma=7.171)
print(new_r2)
trueskill.Rating(mu=20.604, sigma=7.171)

trueskill.Rating(mu=29.396, sigma=7.171)
trueskill.Rating(mu=20.604, sigma=7.171)

trueskill.Rating(mu=20.604, sigma=7.171)

In [31]:
class test(object):
    def __init__(self, num):
        self.num = num

    def __str__(self):
        return "{}".format(str(self.num))

a = test(1)
b = test(3)
c = test(2)

ls = [a, b, c]
sorted(ls, key=lambda x:x.num, reverse=False)
for i in ls:
    print(i.num)

1
3
2

In [12]:
class Book(object):
    def __init__(self, book_name, book_price):
        self.book_name = book_name
        self.book_price = book_price

    # 只是为了输出来展示结果，可写可不写
    def __str__(self):
        return "{name:<15}\t{price:<10}".format(name=self.book_name, price=self.book_price)

def show_book_list(book_list):
    for book in book_list:
        print(book)
    print("\n=====")

b1 = Book("百年孤独", 59)
b2 = Book("云边有个小卖部", 49)
b3 = Book("高等数学", 19.9)

book_list = [b1, b2, b3]
show_book_list(book_list)

book_list_sort = sorted(book_list, key=lambda x:x.book_price, reverse=False)
show_book_list(book_list_sort)

百年孤独           	59
云边有个小卖部        	49
高等数学           	19.9

=====
高等数学           	19.9
云边有个小卖部        	49
百年孤独           	59

=====

In [19]:
import pandas as pd
import numpy as np
xsl = pd.DataFrame(index=range(500), columns=['rank', 'folder_name', 'score', 'comparison_time'])

# xsl = xsl.loc([1,1,1,1])
xsl.loc[3] = [1, 1, 1, 1]
xsl

    rank folder_name score comparison_time
0    NaN         NaN   NaN             NaN
1    NaN         NaN   NaN             NaN
2    NaN         NaN   NaN             NaN
3      1           1     1               1
4    NaN         NaN   NaN             NaN
..   ...         ...   ...             ...
495  NaN         NaN   NaN             NaN
496  NaN         NaN   NaN             NaN
497  NaN         NaN   NaN             NaN
498  NaN         NaN   NaN             NaN
499  NaN         NaN   NaN             NaN

[500 rows x 4 columns]

In [24]:
dic = {1 : 2, 3 : 4}
dic[3]

4

In [68]:
import pandas as pd
dt = pd.DataFrame(columns=['ad', 'sd'])
dt.loc[0] = [1, 2]
dt.loc[1] = [2, 4]

from sklearn import preprocessing
v = np.array(dt['sd'])
v = preprocessing.normalize([v])
v
dt['sd'] = v[0]

dt

   ad        sd
0   1  0.447214
1   2  0.894427

In [47]:
from sklearn import preprocessing
x_array = np.array([2,3,5,6,7,4,8,7,6])
print(x_array)
normalized_arr = preprocessing.normalize([x_array])
print(normalized_arr)

[2 3 5 6 7 4 8 7 6]
[[0.11785113 0.1767767  0.29462783 0.35355339 0.41247896 0.23570226
  0.47140452 0.41247896 0.35355339]]